{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
          "browser": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-runtime"]
}